In [2]:
import pandas as pd

In [5]:
data=pd.read_csv('EPL_Set.csv')
data.tail(15)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Season
9649,E0,9/5/2018,Chelsea,Huddersfield,1,1,D,0.0,0.0,D,2017-18
9650,E0,9/5/2018,Leicester,Arsenal,3,1,H,1.0,0.0,H,2017-18
9651,E0,9/5/2018,Man City,Brighton,3,1,H,2.0,1.0,H,2017-18
9652,E0,9/5/2018,Tottenham,Newcastle,1,0,H,0.0,0.0,D,2017-18
9653,E0,10/5/2018,West Ham,Man United,0,0,D,0.0,0.0,D,2017-18
9654,E0,13/05/18,Burnley,Bournemouth,1,2,A,1.0,0.0,H,2017-18
9655,E0,13/05/18,Crystal Palace,West Brom,2,0,H,0.0,0.0,D,2017-18
9656,E0,13/05/18,Huddersfield,Arsenal,0,1,A,0.0,1.0,A,2017-18
9657,E0,13/05/18,Liverpool,Brighton,4,0,H,2.0,0.0,H,2017-18
9658,E0,13/05/18,Man United,Watford,1,0,H,1.0,0.0,H,2017-18
9659,E0,13/05/18,Newcastle,Chelsea,3,0,H,1.0,0.0,H,2017-18
9660,E0,13/05/18,Southampton,Man City,0,1,A,0.0,0.0,D,2017-18
9661,E0,13/05/18,Swansea,Stoke,1,2,A,1.0,2.0,A,2017-18
9662,E0,13/05/18,Tottenham,Leicester,5,4,H,1.0,2.0,A,2017-18
9663,E0,13/05/18,West Ham,Everton,3,1,H,1.0,0.0,H,2017-18

In [12]:
data.count()

Div         9664
Date        9664
HomeTeam    9664
AwayTeam    9664
FTHG        9664
FTAG        9664
FTR         9664
HTHG        8740
HTAG        8740
HTR         8740
Season      9664
dtype: int64

In [13]:
set(data['FTR'])
type(data)

pandas.core.frame.DataFrame

In [15]:
data['HTR'].unique()

array([nan, 'H', 'D', 'A'], dtype=object)

In [19]:
season=data.groupby('Season')
season.first()
season.get_group('2017-18')

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR
9284,E0,11/8/2017,Arsenal,Leicester,4,3,H,2.0,2.0,D
9285,E0,12/8/2017,Brighton,Man City,0,2,A,0.0,0.0,D
9286,E0,12/8/2017,Chelsea,Burnley,2,3,A,0.0,3.0,A
9287,E0,12/8/2017,Crystal Palace,Huddersfield,0,3,A,0.0,2.0,A
9288,E0,12/8/2017,Everton,Stoke,1,0,H,1.0,0.0,H
9289,E0,12/8/2017,Southampton,Swansea,0,0,D,0.0,0.0,D
9290,E0,12/8/2017,Watford,Liverpool,3,3,D,2.0,1.0,H
9291,E0,12/8/2017,West Brom,Bournemouth,1,0,H,1.0,0.0,H
9292,E0,13/08/17,Man United,West Ham,4,0,H,1.0,0.0,H
9293,E0,13/08/17,Newcastle,Tottenham,0,2,A,0.0,0.0,D
9294,E0,19/08/17,Bournemouth,Watford,0,2,A,0.0,0.0,D
9295,E0,19/08/17,Burnley,West Brom,0,1,A,0.0,0.0,D
9296,E0,19/08/17,Leicester,Brighton,2,0,H,1.0,0.0,H
9297,E0,19/08/17,Liverpool,Crystal Palace,1,0,H,0.0,0.0,D
9298,E0,19/08/17,Southampton,West Ham,3,2,H,2.0,1.0,H
9299,E0,19/08/17,Stoke,Arsenal,1,0,H,0.0,0.0,D
9300,E0,19/08/17,Swansea,Man United,0,4,A,0.0,1.0,A
9301,E0,20/08/17,Huddersfield,Newcastle,1,0,H,0.0,0.0,D
9302,E0,20/08/17,Tottenham,Chelsea,1,2,A,0.0,1.0,A
9303,E0,21/08/17,Man City,Everton,1,1,D,0.0,1.0,A
9304,E0,26/08/17,Bournemouth,Man City,1,2,A,1.0,1.0,D
9305,E0,26/08/17,Crystal Palace,Swansea,0,2,A,0.0,1.0,A
9306,E0,26/08/17,Huddersfield,Southampton,0,0,D,0.0,0.0,D
9307,E0,26/08/17,Man United,Leicester,2,0,H,0.0,0.0,D
9308,E0,26/08/17,Newcastle,West Ham,3,0,H,1.0,0.0,H
9309,E0,26/08/17,Watford,Brighton,0,0,D,0.0,0.0,D
9310,E0,27/08/17,Chelsea,Everton,2,0,H,2.0,0.0,H
9311,E0,27/08/17,Liverpool,Arsenal,4,0,H,2.0,0.0,H
9312,E0,27/08/17,Tottenham,Burnley,1,1,D,0.0,0.0,D
9313,E0,27/08/17,West Brom,Stoke,1,1,D,0.0,0.0,D
...,...,...,...,...,...,...,...,...,...,...
9634,E0,28/04/18,Swansea,Chelsea,0,1,A,0.0,1.0,A
9635,E0,29/04/18,Man United,Arsenal,2,1,H,1.0,0.0,H
9636,E0,29/04/18,West Ham,Man City,1,4,A,1.0,2.0,A
9637,E0,30/04/18,Tottenham,Watford,2,0,H,1.0,0.0,H
9638,E0,4/5/2018,Brighton,Man United,1,0,H,0.0,0.0,D
9639,E0,5/5/2018,Bournemouth,Swansea,1,0,H,1.0,0.0,H
9640,E0,5/5/2018,Everton,Southampton,1,1,D,0.0,0.0,D
9641,E0,5/5/2018,Leicester,West Ham,0,2,A,0.0,1.0,A
9642,E0,5/5/2018,Stoke,Crystal Palace,1,2,A,1.0,0.0,H
9643,E0,5/5/2018,Watford,Newcastle,2,1,H,2.0,0.0,H
9644,E0,5/5/2018,West Brom,Tottenham,1,0,H,0.0,0.0,D
9645,E0,6/5/2018,Arsenal,Burnley,5,0,H,2.0,0.0,H
9646,E0,6/5/2018,Chelsea,Liverpool,1,0,H,1.0,0.0,H
9647,E0,6/5/2018,Man City,Huddersfield,0,0,D,0.0,0.0,D
9648,E0,8/5/2018,Swansea,Southampton,0,1,A,0.0,0.0,D
9649,E0,9/5/2018,Chelsea,Huddersfield,1,1,D,0.0,0.0,D
9650,E0,9/5/2018,Leicester,Arsenal,3,1,H,1.0,0.0,H
9651,E0,9/5/2018,Man City,Brighton,3,1,H,2.0,1.0,H
9652,E0,9/5/2018,Tottenham,Newcastle,1,0,H,0.0,0.0,D
9653,E0,10/5/2018,West Ham,Man United,0,0,D,0.0,0.0,D
9654,E0,13/05/18,Burnley,Bournemouth,1,2,A,1.0,0.0,H
9655,E0,13/05/18,Crystal Palace,West Brom,2,0,H,0.0,0.0,D
9656,E0,13/05/18,Huddersfield,Arsenal,0,1,A,0.0,1.0,A
9657,E0,13/05/18,Liverpool,Brighton,4,0,H,2.0,0.0,H
9658,E0,13/05/18,Man United,Watford,1,0,H,1.0,0.0,H
9659,E0,13/05/18,Newcastle,Chelsea,3,0,H,1.0,0.0,H
9660,E0,13/05/18,Southampton,Man City,0,1,A,0.0,0.0,D
9661,E0,13/05/18,Swansea,Stoke,1,2,A,1.0,2.0,A
9662,E0,13/05/18,Tottenham,Leicester,5,4,H,1.0,2.0,A
9663,E0,13/05/18,West Ham,Everton,3,1,H,1.0,0.0,H

In [25]:
season_first=data.groupby(['HomeTeam','AwayTeam','Season'])
season_first.first()

                               Div        Date  FTHG  FTAG FTR  HTHG  HTAG  \
HomeTeam AwayTeam      Season
Arsenal  Aston Villa   1993-94  E0   6/11/1993     1     2   A   NaN   NaN
                       1994-95  E0    26/12/94     0     0   D   NaN   NaN
                       1995-96  E0    21/10/95     2     0   H   0.0   0.0
                       1996-97  E0    28/12/96     2     2   D   1.0   0.0
                       1997-98  E0    26/10/97     0     0   D   0.0   0.0
                       1998-99  E0    16/05/99     1     0   H   0.0   0.0
                       1999-00  E0   11/9/1999     3     1   H   1.0   1.0
                       2000-01  E0    14/10/00     1     0   H   0.0   0.0
                       2001-02  E0   9/12/2001     3     2   H   0.0   2.0
                       2002-03  E0  30/11/2002     3     1   H   1.0   0.0
                       2003-04  E0    27/08/03     2     0   H   0.0   0.0
                       2004-05  E0    16/10/04     3     1   H   2.0   1.0
                       2005-06  E0    1/4/2006     5     0   H   2.0   0.0
                       2006-07  E0    19/08/06     1     1   D   0.0   0.0
                       2007-08  E0    1/3/2008     1     1   D   0.0   1.0
                       2008-09  E0    15/11/08     0     2   A   0.0   0.0
                       2009-10  E0    27/12/09     3     0   H   0.0   0.0
                       2010-11  E0    15/05/11     1     2   A   0.0   2.0
                       2011-12  E0    24/03/12     3     0   H   2.0   0.0
                       2012-13  E0    23/02/13     2     1   H   1.0   0.0
                       2013-14  E0    17/08/13     1     3   A   1.0   1.0
                       2014-15  E0    1/2/2015     5     0   H   1.0   0.0
                       2015-16  E0    15/05/16     4     0   H   1.0   0.0
         Barnsley      1997-98  E0   4/10/1997     5     0   H   3.0   0.0
         Birmingham    2002-03  E0  18/08/2002     2     0   H   2.0   0.0
                       2003-04  E0    1/5/2004     0     0   D   0.0   0.0
                       2004-05  E0   4/12/2004     3     0   H   1.0   0.0
                       2005-06  E0   2/10/2005     1     0   H   0.0   0.0
                       2007-08  E0   12/1/2008     1     1   D   1.0   0.0
                       2009-10  E0    17/10/09     3     1   H   2.0   1.0
...                             ..         ...   ...   ...  ..   ...   ...
Wolves   Man United    2009-10  E0    6/3/2010     0     1   A   0.0   0.0
                       2010-11  E0    5/2/2011     2     1   H   2.0   1.0
                       2011-12  E0    18/03/12     0     5   A   0.0   3.0
         Middlesbrough 2003-04  E0    17/04/04     2     0   H   1.0   0.0
         Newcastle     2003-04  E0    29/11/03     1     1   D   1.0   1.0
                       2010-11  E0    28/08/10     1     1   D   1.0   0.0
                       2011-12  E0   1/10/2011     1     2   A   0.0   2.0
         Norwich       2011-12  E0    20/12/11     2     2   D   1.0   1.0
         Portsmouth    2003-04  E0    30/08/03     0     0   D   0.0   0.0
                       2009-10  E0   3/10/2009     0     1   A   0.0   1.0
         QPR           2011-12  E0    17/09/11     0     3   A   0.0   2.0
         Southampton   2003-04  E0    3/4/2004     1     4   A   0.0   1.0
         Stoke         2009-10  E0   11/4/2010     0     0   D   0.0   0.0
                       2010-11  E0    14/08/10     2     1   H   2.0   0.0
                       2011-12  E0    17/12/11     1     2   A   1.0   0.0
         Sunderland    2009-10  E0    9/5/2010     2     1   H   1.0   1.0
                       2010-11  E0    27/11/10     3     2   H   0.0   0.0
                       2011-12  E0   4/12/2011     2     1   H   0.0   0.0
         Swansea       2011-12  E0    22/10/11     2     2   D   0.0   2.0
         Tottenham     2003-04  E0    15/05/04     0     2   A   0.0   1.0
                       2009-10  E0   10/2/2010     1     0   H   1.0   0.0
                       2010-11  E0    6/3/2011     3     3   D   2.0   2.0
                       2011-12  E0   10/9/2011     0     2   A   0.0   0.0
         West Brom     2010-11  E0    8/5/2011     3     1   H   2.0   0.0
                       2011-12  E0   12/2/2012     1     5   A   1.0   1.0
         West Ham      2009-10  E0    15/08/09     0     2   A   0.0   1.0
                       2010-11  E0    16/10/10     1     1   D   1.0   0.0
         Wigan         2009-10  E0    16/01/10     0     2   A   0.0   0.0
                       2010-11  E0    26/12/10     1     2   A   0.0   2.0
                       2011-12  E0   6/11/2011     3     1   H   1.0   1.0

                                HTR
HomeTeam AwayTeam      Season
Arsenal  Aston Villa   1993-94  NaN
                       1994-95  NaN
                       1995-96    D
                       1996-97    H
                       1997-98    D
                       1998-99    D
                       1999-00    D
                       2000-01    D
                       2001-02    A
                       2002-03    H
                       2003-04    D
                       2004-05    H
                       2005-06    H
                       2006-07    D
                       2007-08    A
                       2008-09    D
                       2009-10    D
                       2010-11    A
                       2011-12    H
                       2012-13    H
                       2013-14    D
                       2014-15    H
                       2015-16    H
         Barnsley      1997-98    H
         Birmingham    2002-03    H
                       2003-04    D
                       2004-05    H
                       2005-06    D
                       2007-08    H
                       2009-10    H
...                             ...
Wolves   Man United    2009-10    D
                       2010-11    H
                       2011-12    A
         Middlesbrough 2003-04    H
         Newcastle     2003-04    D
                       2010-11    H
                       2011-12    A
         Norwich       2011-12    D
         Portsmouth    2003-04    D
                       2009-10    A
         QPR           2011-12    A
         Southampton   2003-04    A
         Stoke         2009-10    D
                       2010-11    H
                       2011-12    H
         Sunderland    2009-10    D
                       2010-11    D
                       2011-12    D
         Swansea       2011-12    A
         Tottenham     2003-04    A
                       2009-10    H
                       2010-11    D
                       2011-12    D
         West Brom     2010-11    H
                       2011-12    D
         West Ham      2009-10    A
                       2010-11    H
         Wigan         2009-10    D
                       2010-11    A
                       2011-12    D

[9664 rows x 8 columns]

In [36]:
seasons=data.groupby('Season')
for team, info in seasons:
    print('First 2 entries for', season)
    print("")
    print(info.head(2))

('First 2 entries for', <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0B60C4D0>)

  Div      Date     HomeTeam  AwayTeam  FTHG  FTAG FTR  HTHG  HTAG  HTR  \
0  E0  14/08/93      Arsenal  Coventry     0     3   A   NaN   NaN  NaN
1  E0  14/08/93  Aston Villa       QPR     4     1   H   NaN   NaN  NaN

    Season
0  1993-94
1  1993-94
('First 2 entries for', <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0B60C4D0>)

    Div      Date HomeTeam  AwayTeam  FTHG  FTAG FTR  HTHG  HTAG  HTR   Season
462  E0  20/08/94  Arsenal  Man City     3     0   H   NaN   NaN  NaN  1994-95
463  E0  20/08/94  Chelsea   Norwich     2     0   H   NaN   NaN  NaN  1994-95
('First 2 entries for', <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0B60C4D0>)

    Div      Date     HomeTeam    AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
924  E0  19/08/95  Aston Villa  Man United     3     1   H   3.0   0.0   H
925  E0  19/08/95    Blackburn         QPR     1     0   H   1.0   0.0   H

      Season
924  1995-96
925  1995-96
('First 2 entries for', <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0B60C4D0>)

     Div      Date   HomeTeam   AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
1304  E0  17/08/96    Arsenal   West Ham     2     0   H   2.0   0.0   H
1305  E0  17/08/96  Blackburn  Tottenham     0     2   A   0.0   1.0   A

       Season
1304  1996-97
1305  1996-97
('First 2 entries for', <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0B60C4D0>)

     Div      Date   HomeTeam  AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
1684  E0  9/8/1997   Barnsley  West Ham     1     2   A   1.0   0.0   H
1685  E0  9/8/1997  Blackburn     Derby     1     0   H   1.0   0.0   H

       Season
1684  1997-98
1685  1997-98
('First 2 entries for', <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0B60C4D0>)

     Div      Date   HomeTeam AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
2064  E0  15/08/98  Blackburn    Derby     0     0   D   0.0   0.0   D
2065  E0  15/08/98   Coventry  Chelsea     2     1   H   2.0   1.0   H

       Season
2064  1998-99
2065  1998-99
('First 2 entries for', <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0B60C4D0>)

     Div      Date HomeTeam    AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
2444  E0  7/8/1999  Arsenal   Leicester     2     1   H   0.0   0.0   D
2445  E0  7/8/1999  Chelsea  Sunderland     4     0   H   2.0   0.0   H

       Season
2444  1999-00
2445  1999-00
('First 2 entries for', <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0B60C4D0>)

     Div      Date  HomeTeam  AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
2824  E0  19/08/00  Charlton  Man City     4     0   H   2.0   0.0   H
2825  E0  19/08/00   Chelsea  West Ham     4     2   H   1.0   0.0   H

       Season
2824  2000-01
2825  2000-01
('First 2 entries for', <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0B60C4D0>)

     Div      Date  HomeTeam   AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
3204  E0  18/08/01  Charlton    Everton     1     2   A   0.0   0.0   D
3205  E0  18/08/01     Derby  Blackburn     2     1   H   1.0   0.0   H

       Season
3204  2001-02
3205  2001-02
('First 2 entries for', <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0B60C4D0>)

     Div        Date   HomeTeam    AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
3584  E0  17/08/2002  Blackburn  Sunderland     0     0   D   0.0   0.0   D
3585  E0  17/08/2002   Charlton     Chelsea     2     3   A   2.0   1.0   H

       Season
3584  2002-03
3585  2002-03
('First 2 entries for', <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0B60C4D0>)

     Div      Date    HomeTeam   AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
3964  E0  16/08/03     Arsenal    Everton     2     1   H   1.0   0.0   H
3965  E0  16/08/03  Birmingham  Tottenham     1     0   H   1.0   0.0   H

       Season
3964  2003-04
3965  2003-04
('First 2 entries for', <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0B60C4D0>)

     Div      Date     HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
4344  E0  14/08/04  Aston Villa  Southampton     2     0   H   2.0   0.0   H
4345  E0  14/08/04    Blackburn    West Brom     1     1   D   0.0   1.0   A

       Season
4344  2004-05
4345  2004-05
('First 2 entries for', <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0B60C4D0>)

     Div      Date     HomeTeam    AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
4724  E0  13/08/05  Aston Villa      Bolton     2     2   D   2.0   2.0   D
4725  E0  13/08/05      Everton  Man United     0     2   A   0.0   1.0   A

       Season
4724  2005-06
4725  2005-06
('First 2 entries for', <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0B60C4D0>)

     Div      Date HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
5104  E0  19/08/06  Arsenal  Aston Villa     1     1   D   0.0   0.0   D
5105  E0  19/08/06   Bolton    Tottenham     2     0   H   2.0   0.0   H

       Season
5104  2006-07
5105  2006-07
('First 2 entries for', <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0B60C4D0>)

     Div       Date     HomeTeam   AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
5484  E0  11/8/2007  Aston Villa  Liverpool     1     2   A   0.0   1.0   A
5485  E0  11/8/2007       Bolton  Newcastle     1     3   A   0.0   3.0   A

       Season
5484  2007-08
5485  2007-08
('First 2 entries for', <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0B60C4D0>)

     Div      Date HomeTeam   AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
5864  E0  16/08/08  Arsenal  West Brom     1     0   H   1.0   0.0   H
5865  E0  16/08/08   Bolton      Stoke     3     1   H   3.0   0.0   H

       Season
5864  2008-09
5865  2008-09
('First 2 entries for', <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0B60C4D0>)

     Div      Date     HomeTeam  AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
6244  E0  15/08/09  Aston Villa     Wigan     0     2   A   0.0   1.0   A
6245  E0  15/08/09    Blackburn  Man City     0     2   A   0.0   1.0   A

       Season
6244  2009-10
6245  2009-10
('First 2 entries for', <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0B60C4D0>)

     Div      Date     HomeTeam  AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
6624  E0  14/08/10  Aston Villa  West Ham     3     0   H   2.0   0.0   H
6625  E0  14/08/10    Blackburn   Everton     1     0   H   1.0   0.0   H

       Season
6624  2010-11
6625  2010-11
('First 2 entries for', <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0B60C4D0>)

     Div      Date   HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
7004  E0  13/08/11  Blackburn       Wolves     1     2   A   1.0   1.0   D
7005  E0  13/08/11     Fulham  Aston Villa     0     0   D   0.0   0.0   D

       Season
7004  2011-12
7005  2011-12
('First 2 entries for', <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0B60C4D0>)

     Div      Date HomeTeam    AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
7384  E0  18/08/12  Arsenal  Sunderland     0     0   D   0.0   0.0   D
7385  E0  18/08/12   Fulham     Norwich     5     0   H   2.0   0.0   H

       Season
7384  2012-13
7385  2012-13
('First 2 entries for', <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0B60C4D0>)

     Div      Date   HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
7764  E0  17/08/13    Arsenal  Aston Villa     1     3   A   1.0   1.0   D
7765  E0  17/08/13  Liverpool        Stoke     1     0   H   1.0   0.0   H

       Season
7764  2013-14
7765  2013-14
('First 2 entries for', <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0B60C4D0>)

     Div      Date   HomeTeam        AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
8144  E0  16/08/14    Arsenal  Crystal Palace     2     1   H   1.0   1.0   D
8145  E0  16/08/14  Leicester         Everton     2     2   D   1.0   2.0   A

       Season
8144  2014-15
8145  2014-15
('First 2 entries for', <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0B60C4D0>)

     Div      Date     HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
8524  E0  8/8/2015  Bournemouth  Aston Villa     0     1   A   0.0   0.0   D
8525  E0  8/8/2015      Chelsea      Swansea     2     2   D   2.0   1.0   H

       Season
8524  2015-16
8525  2015-16
('First 2 entries for', <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0B60C4D0>)

     Div      Date        HomeTeam   AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
8904  E0  13/08/16         Burnley    Swansea     0     1   A   0.0   0.0   D
8905  E0  13/08/16  Crystal Palace  West Brom     0     1   A   0.0   0.0   D

       Season
8904  2016-17
8905  2016-17
('First 2 entries for', <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0B60C4D0>)

     Div       Date  HomeTeam   AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
9284  E0  11/8/2017   Arsenal  Leicester     4     3   H   2.0   2.0   D
9285  E0  12/8/2017  Brighton   Man City     0     2   A   0.0   0.0   D

       Season
9284  2017-18
9285  2017-18